* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  font-size: 15px;
}

body {
  margin: 0;
}


.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  // padding-left: 0em;
  // margin-left: 0;
}

.stage {
  // width: 1020px;
  // height: 510px;
  background-image: url('/img/tile.png');
  position: relative;
}

.entity {
  position: absolute;
  width: 85px;
  height: 85px;

  &--pac {
    position: absolute;
    font-weight: bold;
    text-align: center;
    padding-top: 65px;
    user-select: none;    
  }

  &--wall {
    background-image: url('/img/wall.png');
    width:85px;
    height:85px;
  }

  &--apple {
    background-image: url('/img/apple.png');
  }

  &--bomb {
    background-image: url('/img/bomb.png');
  }

  &--tomb {
    background-image: url('/img/tomb.png');
  }
}


// .pacman-container {
//   position: absolute;
// }

.pacboy {

  &-active-light {
    background-image: url('/img/pacboy-active-light.png');
    position: absolute;
    top:0em;
    left:0em;
  }

  &-active-medium {
    background-image: url('/img/pacboy-active-medium.png');
  }

  &-active-dark {
    background-image: url('/img/pacboy-active-dark.png');
  }
}

.pacgirl {
  &-active-light {
    background-image: url('/img/pacgirl-active-light.png');
  }

  &-active-medium {
    background-image: url('/img/pacgirl-active-medium.png');
  }

  &-active-dark {
    background-image: url('/img/pacgirl-active-dark.png');
  }
}